.gnb-nav {
  $padding: 10px;

  margin-right: -#{$padding};

  &-list {
    @include flexbox(start);
  }

  &-item {
    margin-right: 70px - ($padding * 2);

    &.is-active,
    &:hover {
      a {
        color: $purple;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      @include text-style(16, $secondary);
      display: block;
      padding: $padding;
      font-weight: 700;
      transition: color 200ms ease-in-out;
    }
  }
}
