@font-face {
  font-family: 'megabox';
  src: url('./assets/fonts/megabox.eot');
  src: url('./assets/fonts/megabox.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/megabox.ttf') format('truetype'),
    url('./assets/fonts/megabox.woff') format('woff'),
    url('./assets/fonts/megabox.svg#megabox') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
