%tag-base {
  @include inline-flexbox;
  @include text-style(12);
  height: 26px;
  min-width: 26px;
  padding: 0 4px;
  font-weight: 700;
  color: $white;
  border: 1px solid transparent;
  border-radius: 5px;
}

.tag-green {
  @extend %tag-base;
  background-color: $green;
  border-color: $green-dark;
}

.tag-blue {
  @extend %tag-base;
  background-color: $blue;
  border-color: $blue-dark;
}

.tag-yellow {
  @extend %tag-base;
  background-color: $yellow;
  border-color: $yellow-dark;
}

.tag-red {
  @extend %tag-base;
  background-color: $red;
  border-color: $red-dark;
}

.tag-purple {
  @include inline-flexbox;
  @include text-style(20);
  height: 35px;
  min-width: 35px;
  padding: 2px 7px 0;
  font-family: $font-ranking;
  font-weight: 700;
  color: $white;
  background-color: $purple;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.35);

  @include responsive(D) {
    @include text-style(37);
    height: 50px;
    min-width: 50px;
    padding-top: 5px;
  }
}
