.gnb {
  $padding: 7px;

  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 32px;
  }

  &-left {
    margin-left: -#{$padding};
  }

  .logo,
  .logo-sub {
    a {
      display: block;
      padding: $padding;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 68px;
    }

    &-left {
      position: relative;
      width: 100%;
      margin-left: 0;

      .logo {
        @include pos-center;

        img {
          height: 30px;
        }

        &-sub {
          @include pos-center-y;
          left: 0 - ($padding);

          img {
            height: 15px;
          }
        }
      }
    }

    &-right {
      position: relative;
    }

    &-icon-button {
      &.is-menu {
        @include pos-center-y;
        right: 0;
      }
    }
  }

  @include responsive(D) {
    &-left {
      @include flexbox(start);
      width: auto;
      margin-left: -#{$padding};

      .logo,
      .logo-sub {
        position: static;
        transform: none;
      }

      .logo {
        margin-right: 15px - ($padding * 2);
      }
    }
  }
}
