$black: #000;
$dark: #222;
$primary: #333;
$gray-4: #444;
$gray-5: #555;
$secondary: #666;
$gray-7: #777;
$tertiary: #999;
$border: #d7d7d7;
$background-dark: #d9d7e0;
$background-gray: #ebebeb;
$background: #f8f8f8;
$white: #fff;

$purple: #38116a;
$purple-light: #6f2bc7;

$blue: #0093d8;
$blue-dark: #0576ab;

$red: #dc1f5d;
$red-dark: #8b0f38;
$red-black: #281b1b;

$yellow: #f4cf21;
$yellow-gold: #bb9b51;
$yellow-dark: #8e7a1a;
