$font-main: 'Noto Sans KR', sans-serif;
$font-ranking: 'Jua', sans-serif;
$font-open: 'Do Hyeon', sans-serif;

$font-size-12: 12px;
$line-height-12: 16px;
$letter-spacing-12: -0.005em;

$font-size-13: 13px;
$line-height-13: 20px;
$letter-spacing-13: -0.01em;

$font-size-14: 14px;
$line-height-14: 24px;
$letter-spacing-14: -0.01em;

$font-size-15: 15px;
$line-height-15: 24px;
$letter-spacing-15: -0.01em;

$font-size-16: 16px;
$line-height-16: 24px;
$letter-spacing-16: -0.01em;

$font-size-17: 17px;
$line-height-17: 28px;
$letter-spacing-17: -0.02em;

$font-size-18: 18px;
$line-height-18: 28px;
$letter-spacing-18: -0.02em;

$font-size-19: 19px;
$line-height-19: 28px;
$letter-spacing-19: -0.02em;

$font-size-20: 20px;
$line-height-20: 28px;
$letter-spacing-20: -0.02em;

$font-size-21: 21px;
$line-height-21: 28px;
$letter-spacing-21: -0.02em;

$font-size-23: 23px;
$line-height-23: 34px;
$letter-spacing-23: -0.01em;

$font-size-24: 24px;
$line-height-24: 34px;
$letter-spacing-24: -0.01em;

$font-size-26: 26px;
$line-height-26: 34px;
$letter-spacing-26: -0.01em;

$font-size-28: 28px;
$line-height-28: 38px;
$letter-spacing-28: -0.01em;

$font-size-30: 30px;
$line-height-30: 38px;
$letter-spacing-30: -0.01em;

$font-size-35: 35px;
$line-height-35: 44px;
$letter-spacing-35: -0.01em;

$font-size-37: 37px;
$line-height-37: 44px;
$letter-spacing-37: -0.01em;

$font-size-59: 59px;
$line-height-59: 66px;
$letter-spacing-59: -0.01em;

$font-size-63: 63px;
$line-height-63: 2px;
$letter-spacing-63: -0.01em;
